apiVersion: v2
name: todo-service
description: A todo-service Helm chart for Kubernetes

type: application
version: 0.1.0
appVersion: "0.0.1-SNAPSHOT"

dependencies:
- name: redis
  version: "17.4.3"
  repository: "https://charts.bitnami.com/bitnami"
  condition: redis.enabled

# dummy1, dummy2
